<div class="w-100 mt-3">
  <%= link_to edit_article_path(@article), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <%= link_to articles_path, class: 'btn btn-dark' do %>
    All Articles
  <% end %>    
</div>