<%= turbo_stream_from :articles %>
<div class="row">
<div class="col-md-6 d-flex">
  <div class="main-header-banner">
  <h1 style="font-weight: 500;">Simple Blog!</h1>
  <p class="mb-3">To make a large search bar, we need to add both form-control and form-control-lg classes in the input element.</p>

<form action="" class="">
    <div class="input-group mb-3">
        <input type="text" class="form-control form-control" placeholder="Search Here">
        <button type="submit" class="input-group-text btn-success"><i class="bi bi-search"></i></button>
    </div>
</form>

  </div>
</div>
<div class="col-md-6 category-links d-flex">
  <div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between mb-2">
    <h5 class="card-title">Card title</h5>
    </div>
    <div class="quick-links-outer">
    <a href="#" class="card-link text-nowrap ms-0 me-2 p-1">Card link</a>
    <a href="#" class="card-link text-nowrap ms-0 me-2 p-1">Another link</a>
    <a href="#" class="card-link text-nowrap ms-0 me-2 p-1">Card link</a>
    <a href="#" class="card-link text-nowrap ms-0 me-2 p-1">Another link</a>
    <a href="#" class="card-link text-nowrap ms-0 me-2 p-1">Card link</a>
    <a href="#" class="card-link text-nowrap ms-0 me-2 p-1">Another link</a>
    <a href="#" class="card-link text-nowrap ms-0 me-2 p-1">Card link</a>
    <a href="#" class="card-link text-nowrap ms-0 me-2 p-1">Another link</a>
    <a href="#" class="card-link text-nowrap ms-0 me-2 p-1">Card link</a>
    <a href="#" class="card-link text-nowrap ms-0 me-2 p-1">Another link</a>
    </div>
  </div>
</div>


  </div>
</div>
<hr>
<div id="articles">
  <% if @articles.any? %>
  <%= render :partial => "article_preview", :collection => @articles, :as => :article %>
  <%== pagy_bootstrap_nav(@pagy) %>
  <% else %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    No articles to show!
  </div>
  <% end %>
</div>


